# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Logs
logging/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env.dev
.env.prod