fastapi
uvicorn
passlib[bcrypt]
langchain==0.3.25
langchain-community
langchain-openai
langchain_core
langgraph
langsmith
psycopg2-binary
openai
pydantic
numpy
urllib3
requests
psutil
httpx
dotenv
python-dotenv
pillow-heif
datetime
openpyxl
pgvector
sqlalchemy
opencv-python
redis
python-jose[cryptography]
